<template name="Chat">
    <div class="container-fluid chat-wrapper">
        <div class="row messages">
            {{#each messages}}
                {{> Message}}
            {{/each}}
        </div>
        <div class="row new-message">
            <form>
                <input type="text" name="message" />
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</template>


<template name="Message">
    <div class="message {{#if belongsToMe this}}mine{{/if}}">
        {{#if belongsToOther this}}<span>@{{user.services.twitter.screenName}}: </span>{{/if}}
        {{message}}
    </div>
</template>
