<template name="Layout">
    <div class="loading">
        <div class="loader-inner ball-scale-ripple-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="panel">
        <header>
            <button data-action="open-menu">
                <i class="fa fa-bars"></i>
            </button>
            <h2>JSChat UY</h2>
        </header>
        {{> Chat}}
    </div>
    <nav id="menu">
        {{> Menu}}
    </nav>
</template>
