<template name="Menu">
    <header>
        <h2>Menu</h2>
    </header>
    {{#if currentUser}}
    <ul>
        <li data-action="logout">Logout</li>
    </ul>
    {{/if}}
    {{#unless currentUser}}
    <ul>
        <li data-action="login-twitter"><i class="icon ion-social-twitter"></i>&nbsp; Login</li>
    </ul>
    {{/unless}}
    <div class="footer">
        Made with <span style="color: #CB6262">❤</span> by <a href="//twitter.com/p4bloch">p4bloch</a>
        <br/>
        <a href="https://github.com/p4bloch/meteor-chat">Fork me, baby</a>.
    </div>
</template>
